
body {

  font-family: "ff-good-headline-web-pro-con", 
                "Arial Narrow", 
                Arial, 
                sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  
  background-color: #404040;
  border-bottom: 5px solid #f2f2f2;
  

}
.header p{
  color: #f2f2f2;
  margin-left: 100px;

}




/* Custom page footer */
.footer {
  
  background-color: #404040;
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  
}
.footer p {

  margin-left: 100px;
  color: #f2f2f2;


}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }
}

/*
.container-narrow > hr {
  margin: 30px 0;
}
*/

/* styling for the masthead images and text*/
#image-group {
  position: relative;
  height: 500px;

}


#head-img {
  
  z-index: -1;
  width: 1000px;
  height: 500px;
  position: absolute;
}


 #seal-img {

   margin: 0;
   z-index: 1;
   width: 180px;
   height: 180px;
   padding-top: 70px;
   padding-left: 410px;
   position: absolute;
}

#head-text {
  position: absolute;
  padding-top: 280px;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
}

/*Styling for the search and browse sections of the page*/
#body-wrapper {
  position: relative;
  margin: 0px;

}

#body-wrapper #headline {
  
  background-color: #f2f2f2;
  margin: 0;
}

#body-wrapper #headline h2 {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}



/* Main marketing message and sign up button */
#body-wrapper .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  
}
#body-wrapper .jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
#body-wrapper .marketing {
  margin: 40px 0;
  
}
#body-wrapper .marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
