  <div class="row marketing">
      <h1 class="caption">
      Browse all Licenses by category
      </h1>

      <p class="body-text">
      Browse through all licenses that we have available.
      </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
    <div class="row collapse" id="all">
      <div class="col-xs-12 col-md-6">Here are a couple columns for further examples.</div>
      <div class="col-xs-12 col-md-6">This is column two</div>
    </div>

    <div class="row show-me">
      <a data-toggle="collapse" data-target="#all" href="" aria-expanded="false" aria-controls="all" ><div class="press-me">SHOW ALL LICENSES</div></a>
    </div>


  </div>