  <div class="row marketing">
    <h1 class="caption">Browse popular licenses</h1>
      <p class="body-text">Take a look at some of the most searched for Licenses</p>
    <h4>HTML5 Boilerplate</h4>
      <p>
      
      </p>


  

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
    <div class="row collapse" id="popular">
      <div class="col-xs-12 col-md-6" >Here are a couple columns for further examples.</div>
      <div class="col-xs-12 col-md-6">This is column two</div>
    </div>    

    <div class="row show-me">
      <a class="press-link" data-toggle="collapse" data-target="#popular" href="" aria-expanded="false" aria-controls="popular" ><div class="press-me">SHOW MORE POPULAR LICENSES</div></a>
    </div>

  </div>