


<div class="body-wrapper" ng-controller="MainCtrl as ctrl">

  

 
  <div class="row marketing" >
    <div class="customHTML">
    <!--.CustomHTML -->
    <div ng-controller="fetchCtrl as fetch" style="padding: 0 0 0.5em 0; border: 1px solid #e0e0e0; border-radius: 3px;">
      <h2 style="min-height: 30px; box-shadow: 0px 0px 6px rgb(222, 222, 222) inset; border-bottom: 1px solid rgb(229, 229, 229); background: #efefef url('http://www.mass.gov/resources/images/template/icon_w_license.png') 0.5em 0.3em no-repeat; margin-bottom: 0.3em; padding: 0.3em 0.5em 0.3em 33px;  margin-top: 0px;">Professional License Information</h2>
        <p style="margin: 0.7em 1em 0 1em; font-size: 90%; list-style: none; color: #555;">Search by license type to find out where to apply for, renew, or verify a license, or to file a complaint against a license holder. (Ex. Nursing)</p>
          <form  method="GET" action="#/results" style="margin: 0.7em;">
            
            <input type="hidden" name="client" value="custom_license">
            <input type="hidden" name="proxystylesheet" value="custom_license">
            
            <input type="hidden" name="site" value="PORTALxLICENSE">
            <input type="hidden" name="startsite" value="PORTALxLICENSE">
            <input type="hidden" name="getfields" value="*">
            <input type="hidden" name="ie" value="UTF-8">
            <input type="hidden" name="oe" value="UTF-8">
            <input type="hidden" name="tlen" value="215">
            <input type="hidden" name="sitefolder" value="portal">
            <input type="hidden" name="filter" value="0">
            
            <input type="hidden" name="output" value="xml_no_dtd">
            
            
            <input type="text" name="q" id="q"  style="position: relative;" ng-model="ctrl.query">
            <label for="q">Enter license type:</label>
            <input type="submit" style="margin-top:5px; margin-left: 0.5em;" name="Search" value="Search" ng-click="ctrl.submit()" >
          </form>
    </div>
  </div>
  <!-- .CustomHTML --> 
 

  </div>


  <div class="row marketing">
    <p class="caption">Browse popular licenses</p>
      <p class="body-text">Take a look at some of the most searched for Licenses</p>
    <h4>HTML5 Boilerplate</h4>
      <p>
      
      </p>


  

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
    <div class="row collapse" id="popular">
      <div class="col-xs-12 col-md-6" >Here are a couple columns for further examples.</div>
      <div class="col-xs-12 col-md-6">This is column two</div>
    </div>    

    <div class="row show-me">
      <a  data-toggle="collapse" data-target="#popular" href="" aria-expanded="false" aria-controls="popular" ><div class="press-me">SHOW MOAR POPULAR LICENSES</div></a>
    </div>

  </div>



  <div class="row marketing">
      <p class="caption">
      Browse all Licenses by category
      </p>

      <p class="body-text">
      Browse through all licenses that we have available.
      </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
    <div class="row collapse" id="all">
      <div class="col-xs-12 col-md-6">Here are a couple columns for further examples.</div>
      <div class="col-xs-12 col-md-6">This is column two</div>
    </div>

    <div class="row show-me">
      <a data-toggle="collapse" data-target="#all" href="" aria-expanded="false" aria-controls="all" ><div class="press-me">SHOW ALL LICENSES</div></a>
    </div>


  </div>
 
</div>